<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abhi4Chat</title>
    
</head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Serif:wght@700&display=swap" rel="stylesheet">

style
    include ../static/style.css


<body>
    <div><header class="header">
       
        <div class="left">
            <img src="../static/chitt.jpg" alt="bhag ja">
            <div>ChitChat</div>
        </div>
       
        <div class="mid">
            | About 
            <div class="navbar">
                | it is real time chat box application for student of iiita 2K18 student.  they can use rollno as username and first and last two character of their name as password. for Example : iit2018187 as username and ABTA as password for name (ABHISHEK KUMAR GUPTA) password must be in capital letter.      this chatbox is based on simple client-server socket programing and your college database is used as a log in credential. it is only desktop version mobile user may face difiiculty to load page.
                | technologies used : PUG (for template) 
                | MYSQL for database;
                | CSS for styling
                | nodejs for back-end
                | javascript as front-end
            </div>
        </div>

      
        <div class="right">
            <div class="btn"><a href="/contact">Contact Us</a></div>
        </div>
    </header>
    <div class="container">
        <div><img src="" alt=""></div>
        <div>Welcome to ChitChat</div>
        <div>Join the Chat</div>
        <form action="\" method="post" id="contact">
               <input type="text" class="form-group" name="id" id="id" placeholder="Enter your username">
               <input type="password" name="pass" class="form-group" id="pass" placeholder="Enter your password">
               <button class="btn" onclick=`c1()` >Submit</button>
        </form>
   
    </div>
    script
        include ../static/main.js
</body>

</html>
               